In [2]:
###1.
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
####2.
for i in range(65,70):
    for j in range(65,i+1):
        print(chr(j),end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [7]:
####3.
for i in range(1,6):
    print(i*"*")

*
**
***
****
*****

In [9]:
####4.
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [11]:
####5.
for i in range(65,70):
    for j in range(65,i+1):
        print(chr(i),end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [13]:
#6.
for i in range(1,6):
    print((6-i)*" "+i*"*")

     *
    **
   ***
  ****
 *****

In [22]:
###7.
for i in range(1,6):
    print((6-i)*" ",end=" ")
    for j in range(1,i+1):
        print(j,end=" ")
    print()

      1
     1 2
    1 2 3
   1 2 3 4
  1 2 3 4 5

In [20]:
####8.
data=""
for i in range(1,6):
    data=" "+str(6-i)+data
    print(data.center(20," "))

          5
         4 5
        3 4 5
       2 3 4 5
      1 2 3 4 5

In [13]:
####9.
data=""
for i in range(1,6):
    data=data+chr(64+i)+" "
    print(data.center(20," "))

         A
        A B
       A B C
      A B C D
     A B C D E

In [22]:
####10.
data=""
for i in range(1,6):
    data=" "+chr(70-i)+data
    print(data.center(20," "))

          E
         D E
        C D E
       B C D E
      A B C D E

In [61]:
####11.
for i in range(1,10,2):
    str=i*"*"
    print(str.center(20," "))

         *
        ***
       *****
      *******
     *********

In [62]:
####12.
for i in range(1,6):
    print((6-i)*" ",end=" ")
    for j in range(1,i+1):
        print(i,end=" ")
    print()

      1
     2 2
    3 3 3
   4 4 4 4
  5 5 5 5 5

In [63]:
#####13.
for i in range(65,70):
    print((70-i)*" ",end=" ")
    for j in range(65,i+1):
        print(chr(i),end=" ")
    print()

      A
     B B
    C C C
   D D D D
  E E E E E

In [39]:
#####14.
for i in range(1,6):
    for j in range(1,7-i,1):
        print(str(j),end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [40]:
#####15.
for i in range(1,6):
    for j in range(6-i,0,-1):
        print(str(j),end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [74]:
###16.
for i in range(1,6):
    for j in range(5,5-i,-1):
          print(j,end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [77]:
#####17.
n=0
for i in range(1,6):
    for j in range(1,i+1):
        n=n+1
        print(n,end=" ")
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [42]:
####18.
for i in range(6,1,-1):
    data=""
    for j in range(1,i):
        data=data+chr(64+j)+" "
    print(data)

A B C D E
A B C D
A B C
A B
A

In [90]:
###19.
for i in range(5,0,-1):
    print(i*"*")

*****
****
***
**
*

In [92]:
####20.
for i in range(5,0,-1):
    print((6-i)*" "+i*"*")

 *****
  ****
   ***
    **
     *

In [54]:
###21.
for i in range(1,6):
    if i==5:
        for j in range(6-1,0,-1):
            print(j*"*")
    else:
        print(i*"*")

*
**
***
****
*****
****
***
**
*

In [55]:
####22.
for i in range(6,0,-1):
    if i==1:
        for j in range(1,6+1):
            print(j*"*")
    else:
        print(i*"*")

******
*****
****
***
**
*
**
***
****
*****
******

In [57]:
###23.
for i in range(1,6):
    if i==5:
        for j in range(6-1,0,-1):
            print((6-j)*" "+j*"*")
    else:
            print((6-i)*" "+i*"*")

     *
    **
   ***
  ****
 *****
  ****
   ***
    **
     *

In [59]:
####24.
for i in range(6,0,-1):
    if i==1:
        for j in range(1,6+1):
            print((6-j)*" "+j*"*")
    else:
        print((6-i)*" "+i*"*")

******
 *****
  ****
   ***
    **
     *
    **
   ***
  ****
 *****
******

In [130]:
####25.
for i in range(1,10,2):
    str=i*"*"
    print(str.center(20," "))

         *
        ***
       *****
      *******
     *********

In [48]:
####26.
for i in range(1,10,2):
    if i==1:
        for j in range(10-1,0,-2):
            string=j*"*"
            print(string.center(20," "))
    else:
        string=i*"*"
        print(string.center(20," "))

     *********
      *******
       *****
        ***
         *
        ***
       *****
      *******
     *********

In [49]:
####27.
for i in range(1,6):
    a=(6-(i+1))*" "+i*"*"
    print(i*"*"+(6-(i+1))*" "+a)

*        *
**      **
***    ***
****  ****
**********

In [50]:
####28.
for i in range(6,0,-1):
    a=(6-i)*" "+i*"*"
    print(i*"*"+(6-i)*" "+a)

************
*****  *****
****    ****
***      ***
**        **
*          *

In [24]:
#####29:
for i in range(1,6):
    if i!=6-1:
        x=(6-(i+1))*" "+i*"*"
        print(i*"*"+(6-(i+1))*" "+x)
    else:
        for i in range(6-1,0,-1):
            x=(6-(i+1))*" "+i*"*"
            print(i*"*"+(6-(i+1))*" "+x)

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [6]:
####30:
for i in range(6-1,0,-1):
    a=(6-(i+1))*" "+i*"*"
    print(i*"*"+(6-(i+1))*" "+a)
    if i==1:
        for j in range(1,6):
            a=(6-(j+1)) *" "+j * "*"
            print(j *"*" +(6- (j+1)) * " " + a)

**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********

In [11]:
####32
for i in range(1,6):
    data=""
    if i==6-1:
        data=data+i*"*"
    else:
        for j in range(1, i+1):
            if j==1 or j==i:
            data=data+"*"
            else:
                data=data+" "
    print(data)

*
**
* *
*  *
*****

In [12]:
####31.
for i in range(6-1,0,-1):
    data=""
    if i==6-1:
        data=data+i*"*"
    else:
        for j in range(1, i+1):
            if j==1 or j==i:
                data=data+"*"
            else:
                data=data+" "
    print(data)

*****
*  *
* *
**
*

In [16]:
#####33.
for i in range(1,6):
    data=""
    if i==6-1:
        data=data+i*"*"
    else:
        for j in range(1, i+1):
            if j==1 or j==i:
                data=data+"*"
            else:
                data=data+" "
    print((6-i)*" "+data)

     *
    **
   * *
  *  *
 *****

In [36]:
#####34.
for i in range(1,6):
    data=""
    if i==1:
        
        for k in range(6-1, 0, -1):
            datak = ""
            if k==6-1:
                datak=datak+(6-1)*"*"
            else:
                for j in range(1, k+1):
                    if j == 1 or j == k:
                        datak=datak+ "*"
                    else:
                        datak = datak + " "
            print(datak)
    elif i==6-1:
        data=data+i*"*"
        print(data)
    else:
        for j in range(1, i+1):
            if j==1 or j==i:
                data=data+"*"
            else:
                data=data+" "
        print(data)

*****
*  *
* *
**
*
**
* *
*  *
*****

In [11]:
####35.
for i in range(1,6):
    data=""
    if i==6-1:
        for k in range(6-1,0,-1):
            data=""
            for j in range(1, k+1):
                if j==1 or j==k:
                    data=data+"*"
                else:
                    data=data+" "
            print((6-k)*" "+data)
    else:
            for j in range(1, i+1):
                if j==1 or j==i:
                    data=data+"*"
                else:
                    data=data+" "
            print((6-i)*" "+data)

     *
    **
   * *
  *  *
 *   *
  *  *
   * *
    **
     *

In [33]:
#####36.
for i in range(6-1,0,-1):
    data=""
    if i==1:
        for k in range(1, 6):
            data= ""
            if k == 6-1:
                data = data + k * "*"
            else:
                for j in range(1, k + 1):
                    if j == 1 or j == k:
                        data = data + "*"
                    else:
                        data = data + " "
            print((6-k-1) * " " + data)
    elif i==6-1:
            data=data+i*"*"
            print((6-i-1)*" "+data)
    else:
            for j in range(1, i+1):
                if j==1 or j==i:
                    data=data+"*"
                else:
                    data=data+" "
            print((6-i-1)*" "+data)

*****
 *  *
  * *
   **
    *
   **
  * *
 *  *
*****

In [27]:
#####37.
for i in range(1,6*2,2):
    if i==6*2-1 or i==1:
        string=i*"*"
        
    else:
        string="*"+(i-2)*" "+"*"
    print(string.center(20," "))

         *
        * *
       *   *
      *     *
     *       *
    ***********

In [29]:
####38.
for i in range(1,6*2,2):
    if i==6*2-1 or i==1:
        string=(6*2-i)*"*"
        
    else:
        string="*"+(6*2-i-2)*" "+"*"
    print(string.center(20," "))

    ***********
     *       *
      *     *
       *   *
        * *
         *

In [32]:
#####39.
for i in range(1,6*2,2):
    if i==1:
        string=i*"*"
        print(string.center(20," "))
    elif i==6*2 -1:
        for k in range(1,6*2,2):
            if k == 6*2-1:
                string=(6 * 2 - k ) * "*"
                print(string.center(20," "))
                                                 
            else:
                string="*" + (6*2 -k-2)*" " + "*"
                print(string.center(20," "))
    else:
        string="*"+(i-2)*" "+"*"
        print(string.center(20," "))

         *
        * *
       *   *
      *     *
     *       *
    *         *
     *       *
      *     *
       *   *
        * *
         *

In [7]:
####40.
n=9
for i in range(n):
    for j in range(n):
        if(i==0 or i==j or i+j==n-1 or i==n-1):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * * * * * *
  *           *
    *       *
      *   *
        *
      *   *
    *       *
  *           *
* * * * * * * * *

In [40]:
#####41.
for i in range(5):
    print(5*"*")

*****
*****
*****
*****
*****